@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.contacts-container {
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: AUTO;
  background-color: #212121;
  /* background-image: url("https://assets-global.website-files.com/5837424ae11409586f837994/61195e21f792d7065d2f56ad_noise.png"); */
  width: 100%;
  height: 100vh;
  font-weight: bolder;
}
