.home-container {
  background-image: url("/src/assets/back1.jpg");
  /* background-color: rgba(0, 0, 0, 0.9); */
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: auto;
}

.font-roboto-slab {
  font-family: "Roboto Slab", serif;
}

.font-vina-sans {
  font-family: "Vina Sans", sans-serif;
}

.font-DM-sans {
  font-family: "DM Sans", sans-serif;
}
