/* background-color: rgba(0, 0, 0, 0.9); */
.home-background {
  background-image: url("/src/assets/back1.jpg");
}

.font-roboto-slab {
  font-family: "Roboto Slab", serif;
}

.font-vina-sans {
  font-family: "Vina Sans", sans-serif;
}

.font-DM-sans {
  font-family: "DM Sans", sans-serif;
}
