.services-container {
  height: 100vh;
  font-family: "DM Sans", sans-serif;
  color: white;
  background-image: url("src/assets/abstract-luxury-blur-dark-grey-black-gradient-used-as-background-studio-wall-display-your-products.jpg");
}
